button {
    background: $color-flatui-belizehole;
    border: 0;
    border-radius: 4px;
    color: $color-white;
    cursor: pointer;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin-top: 20px;
    padding: 0 10px;
    transition: all .2s ease-in-out;

    &[disabled] {
        background: $color-flatui-concrete;
        cursor: not-allowed;
    }

    &:hover:enabled {
        background: $color-flatui-peterriver;
        transform: scale(1.04);
    }

    &:active:enabled {
        background: $color-flatui-peterriver;
        transform: scale(1);
    }
}