.panel {
    .headings {
        display: flex;
        margin-top: 20px;

        span {
            display: block;
            margin-right: 5px;
            width: 40%;
        }
    }

    .choice {
        input,
        select {
            margin-right: 5px;
            width: 40%;
        }

        button {
            margin: 0 5px 0 0;
        }
    }
}