* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

label {
    display: block;
    margin-top: 20px;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    .main-container {
        border: 1px solid $color-flatui-peterriver;
        border-radius: 4px;
        width: 35%;

        .panel {
            padding: 0 20px 20px;

            .button-container {
                display: flex;

                &:not(.one) {
                    justify-content: space-between;
                }
                &.one {
                    justify-content: flex-end;
                }
            }
        }

        .fade-enter {
            opacity: 0;
            z-index: 1;

            &.fade-enter-active {
                opacity: 1;
                transition: opacity 250ms ease-in;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .main-container {
            width: 50%;
        }
    }

    @media (max-width: 768px) {
        .main-container {
            width: 75%;
        }
    }
}