select {
    background: $color-white;
    border: 1px solid $color-flatui-concrete;
    border-radius: 4px;
    color: $color-black;
    font-size: 14px;
    height: 32px;
    margin-top: 5px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;

    &:focus {
        border-color: $color-flatui-peterriver;
        box-shadow: none;
        outline: none;
    }
}