.review {
    margin-top: 20px;

    div {
        display: flex;
        margin: 10px 0;
        padding: 0 10%;

        span {
            font-size: 14px;
            text-transform: capitalize;
            width: 50%;
        }

        &:last-of-type {
            align-items: center;
            flex-direction: column;

            span {
                margin: 10px 0;
            }
        }
    }
}