.breadcrumbs {
    border-bottom: 1px solid $color-flatui-asbestos;
    display: flex;
    flex-direction: row;
    height: 35px;
    padding: 0;

    li {
        align-items: center;
        background: $color-flatui-silver;
        display: flex;
        font-weight: 700;
        justify-content: center;
        list-style: none;
        width: calc(100% / 4);

        &:hover {
            background: $color-flatui-concrete;
        }

        &.active {
            background: $color-flatui-peterriver;
            color: $color-white;
        }
    }
}