$color-black: #000;
$color-white: #fff;

// from https://flatuicolors.com/
$color-flatui-asbestos: #7f8c8d;
$color-flatui-alizarin: #e74c3c;
$color-flatui-amethyst: #9b59b6;
$color-flatui-belizehole: #2980b9;
$color-flatui-carrot: #e67e22;
$color-flatui-clouds: #ecf0f1;
$color-flatui-concrete: #95a5a6;
$color-flatui-emerald: #2ecc71;
$color-flatui-greensea: #16a085;
$color-flatui-midnightblue: #2c3e50;
$color-flatui-nephritis: #27ae60;
$color-flatui-orange: #f39c12;
$color-flatui-peterriver: #3498db;
$color-flatui-pomegranate: #c0392b;
$color-flatui-pumpkin: #d35400;
$color-flatui-silver: #bdc3c7;
$color-flatui-sunflower: #f1c40f;
$color-flatui-turquoise: #1abc9c;
$color-flatui-wetasphalt: #34495e;
$color-flatui-wisteria: #8e44ad;